<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>settings.bordersEnabled</key>
	<false/>
	<key>settings.focusFollowsMouse</key>
	<false/>
	<key>settings.focusFollowsWindowToMonitor</key>
	<true/>
	<key>settings.gapSize</key>
	<real>10</real>
	<key>settings.hotkeyBindings</key>
	<data>
	W3siY29tbWFuZCI6eyJzd2l0Y2hXb3Jrc3BhY2UiOnsiXzAiOjB9fSwiYmluZGluZyI6
	eyJrZXlDb2RlIjoxOCwibW9kaWZpZXJzIjoyMDQ4fSwiaWQiOiJzd2l0Y2hXb3Jrc3Bh
	Y2UuMCJ9LHsiY29tbWFuZCI6eyJtb3ZlVG9Xb3Jrc3BhY2UiOnsiXzAiOjB9fSwiYmlu
	ZGluZyI6eyJrZXlDb2RlIjoxOCwibW9kaWZpZXJzIjoyNTYwfSwiaWQiOiJtb3ZlVG9X
	b3Jrc3BhY2UuMCJ9LHsiY29tbWFuZCI6eyJzd2l0Y2hXb3Jrc3BhY2UiOnsiXzAiOjF9
	fSwiYmluZGluZyI6eyJrZXlDb2RlIjoxOSwibW9kaWZpZXJzIjoyMDQ4fSwiaWQiOiJz
	d2l0Y2hXb3Jrc3BhY2UuMSJ9LHsiYmluZGluZyI6eyJtb2RpZmllcnMiOjI1NjAsImtl
	eUNvZGUiOjE5fSwiaWQiOiJtb3ZlVG9Xb3Jrc3BhY2UuMSIsImNvbW1hbmQiOnsibW92
	ZVRvV29ya3NwYWNlIjp7Il8wIjoxfX19LHsiYmluZGluZyI6eyJtb2RpZmllcnMiOjIw
	NDgsImtleUNvZGUiOjIwfSwiaWQiOiJzd2l0Y2hXb3Jrc3BhY2UuMiIsImNvbW1hbmQi
	Onsic3dpdGNoV29ya3NwYWNlIjp7Il8wIjoyfX19LHsiYmluZGluZyI6eyJtb2RpZmll
	cnMiOjI1NjAsImtleUNvZGUiOjIwfSwiaWQiOiJtb3ZlVG9Xb3Jrc3BhY2UuMiIsImNv
	bW1hbmQiOnsibW92ZVRvV29ya3NwYWNlIjp7Il8wIjoyfX19LHsiYmluZGluZyI6eyJr
	ZXlDb2RlIjoyMSwibW9kaWZpZXJzIjoyMDQ4fSwiaWQiOiJzd2l0Y2hXb3Jrc3BhY2Uu
	MyIsImNvbW1hbmQiOnsic3dpdGNoV29ya3NwYWNlIjp7Il8wIjozfX19LHsiYmluZGlu
	ZyI6eyJtb2RpZmllcnMiOjI1NjAsImtleUNvZGUiOjIxfSwiaWQiOiJtb3ZlVG9Xb3Jr
	c3BhY2UuMyIsImNvbW1hbmQiOnsibW92ZVRvV29ya3NwYWNlIjp7Il8wIjozfX19LHsi
	YmluZGluZyI6eyJrZXlDb2RlIjoyMywibW9kaWZpZXJzIjoyMDQ4fSwiaWQiOiJzd2l0
	Y2hXb3Jrc3BhY2UuNCIsImNvbW1hbmQiOnsic3dpdGNoV29ya3NwYWNlIjp7Il8wIjo0
	fX19LHsiYmluZGluZyI6eyJtb2RpZmllcnMiOjI1NjAsImtleUNvZGUiOjIzfSwiaWQi
	OiJtb3ZlVG9Xb3Jrc3BhY2UuNCIsImNvbW1hbmQiOnsibW92ZVRvV29ya3NwYWNlIjp7
	Il8wIjo0fX19LHsiYmluZGluZyI6eyJrZXlDb2RlIjoyMiwibW9kaWZpZXJzIjoyMDQ4
	fSwiaWQiOiJzd2l0Y2hXb3Jrc3BhY2UuNSIsImNvbW1hbmQiOnsic3dpdGNoV29ya3Nw
	YWNlIjp7Il8wIjo1fX19LHsiYmluZGluZyI6eyJtb2RpZmllcnMiOjI1NjAsImtleUNv
	ZGUiOjIyfSwiaWQiOiJtb3ZlVG9Xb3Jrc3BhY2UuNSIsImNvbW1hbmQiOnsibW92ZVRv
	V29ya3NwYWNlIjp7Il8wIjo1fX19LHsiYmluZGluZyI6eyJtb2RpZmllcnMiOjIwNDgs
	ImtleUNvZGUiOjI2fSwiaWQiOiJzd2l0Y2hXb3Jrc3BhY2UuNiIsImNvbW1hbmQiOnsi
	c3dpdGNoV29ya3NwYWNlIjp7Il8wIjo2fX19LHsiYmluZGluZyI6eyJrZXlDb2RlIjoy
	NiwibW9kaWZpZXJzIjoyNTYwfSwiaWQiOiJtb3ZlVG9Xb3Jrc3BhY2UuNiIsImNvbW1h
	bmQiOnsibW92ZVRvV29ya3NwYWNlIjp7Il8wIjo2fX19LHsiYmluZGluZyI6eyJtb2Rp
	ZmllcnMiOjIwNDgsImtleUNvZGUiOjI4fSwiaWQiOiJzd2l0Y2hXb3Jrc3BhY2UuNyIs
	ImNvbW1hbmQiOnsic3dpdGNoV29ya3NwYWNlIjp7Il8wIjo3fX19LHsiYmluZGluZyI6
	eyJtb2RpZmllcnMiOjI1NjAsImtleUNvZGUiOjI4fSwiaWQiOiJtb3ZlVG9Xb3Jrc3Bh
	Y2UuNyIsImNvbW1hbmQiOnsibW92ZVRvV29ya3NwYWNlIjp7Il8wIjo3fX19LHsiYmlu
	ZGluZyI6eyJtb2RpZmllcnMiOjIwNDgsImtleUNvZGUiOjI1fSwiaWQiOiJzd2l0Y2hX
	b3Jrc3BhY2UuOCIsImNvbW1hbmQiOnsic3dpdGNoV29ya3NwYWNlIjp7Il8wIjo4fX19
	LHsiYmluZGluZyI6eyJtb2RpZmllcnMiOjI1NjAsImtleUNvZGUiOjI1fSwiaWQiOiJt
	b3ZlVG9Xb3Jrc3BhY2UuOCIsImNvbW1hbmQiOnsibW92ZVRvV29ya3NwYWNlIjp7Il8w
	Ijo4fX19LHsiYmluZGluZyI6eyJrZXlDb2RlIjo0OCwibW9kaWZpZXJzIjo2MTQ0fSwi
	aWQiOiJ3b3Jrc3BhY2VCYWNrQW5kRm9ydGgiLCJjb21tYW5kIjp7IndvcmtzcGFjZUJh
	Y2tBbmRGb3J0aCI6e319fSx7ImJpbmRpbmciOnsibW9kaWZpZXJzIjowLCJrZXlDb2Rl
	Ijo0Mjk0OTY3Mjk1fSwiaWQiOiJzd2l0Y2hXb3Jrc3BhY2UubmV4dCIsImNvbW1hbmQi
	Onsic3dpdGNoV29ya3NwYWNlTmV4dCI6e319fSx7ImJpbmRpbmciOnsibW9kaWZpZXJz
	IjowLCJrZXlDb2RlIjo0Mjk0OTY3Mjk1fSwiaWQiOiJzd2l0Y2hXb3Jrc3BhY2UucHJl
	dmlvdXMiLCJjb21tYW5kIjp7InN3aXRjaFdvcmtzcGFjZVByZXZpb3VzIjp7fX19LHsi
	YmluZGluZyI6eyJtb2RpZmllcnMiOjIwNDgsImtleUNvZGUiOjR9LCJpZCI6ImZvY3Vz
	LmxlZnQiLCJjb21tYW5kIjp7ImZvY3VzIjp7Il8wIjoibGVmdCJ9fX0seyJiaW5kaW5n
	Ijp7Im1vZGlmaWVycyI6MjA0OCwia2V5Q29kZSI6Mzh9LCJpZCI6ImZvY3VzLmRvd24i
	LCJjb21tYW5kIjp7ImZvY3VzIjp7Il8wIjoiZG93biJ9fX0seyJiaW5kaW5nIjp7Im1v
	ZGlmaWVycyI6MjA0OCwia2V5Q29kZSI6NDB9LCJpZCI6ImZvY3VzLnVwIiwiY29tbWFu
	ZCI6eyJmb2N1cyI6eyJfMCI6InVwIn19fSx7ImJpbmRpbmciOnsia2V5Q29kZSI6Mzcs
	Im1vZGlmaWVycyI6MjA0OH0sImlkIjoiZm9jdXMucmlnaHQiLCJjb21tYW5kIjp7ImZv
	Y3VzIjp7Il8wIjoicmlnaHQifX19LHsiYmluZGluZyI6eyJtb2RpZmllcnMiOjIwNDgs
	ImtleUNvZGUiOjQ4fSwiaWQiOiJmb2N1c1ByZXZpb3VzIiwiY29tbWFuZCI6eyJmb2N1
	c1ByZXZpb3VzIjp7fX19LHsiYmluZGluZyI6eyJrZXlDb2RlIjo0Mjk0OTY3Mjk1LCJt
	b2RpZmllcnMiOjB9LCJpZCI6ImZvY3VzRG93bk9yTGVmdCIsImNvbW1hbmQiOnsiZm9j
	dXNEb3duT3JMZWZ0Ijp7fX19LHsiYmluZGluZyI6eyJtb2RpZmllcnMiOjAsImtleUNv
	ZGUiOjQyOTQ5NjcyOTV9LCJpZCI6ImZvY3VzVXBPclJpZ2h0IiwiY29tbWFuZCI6eyJm
	b2N1c1VwT3JSaWdodCI6e319fSx7ImJpbmRpbmciOnsia2V5Q29kZSI6MTI2LCJtb2Rp
	ZmllcnMiOjY2NTZ9LCJpZCI6Im1vdmVXaW5kb3dUb1dvcmtzcGFjZVVwIiwiY29tbWFu
	ZCI6eyJtb3ZlV2luZG93VG9Xb3Jrc3BhY2VVcCI6e319fSx7ImJpbmRpbmciOnsibW9k
	aWZpZXJzIjo2NjU2LCJrZXlDb2RlIjoxMjV9LCJpZCI6Im1vdmVXaW5kb3dUb1dvcmtz
	cGFjZURvd24iLCJjb21tYW5kIjp7Im1vdmVXaW5kb3dUb1dvcmtzcGFjZURvd24iOnt9
	fX0seyJiaW5kaW5nIjp7Im1vZGlmaWVycyI6NjY1Niwia2V5Q29kZSI6MTE2fSwiaWQi
	OiJtb3ZlQ29sdW1uVG9Xb3Jrc3BhY2VVcCIsImNvbW1hbmQiOnsibW92ZUNvbHVtblRv
	V29ya3NwYWNlVXAiOnt9fX0seyJiaW5kaW5nIjp7ImtleUNvZGUiOjEyMSwibW9kaWZp
	ZXJzIjo2NjU2fSwiaWQiOiJtb3ZlQ29sdW1uVG9Xb3Jrc3BhY2VEb3duIiwiY29tbWFu
	ZCI6eyJtb3ZlQ29sdW1uVG9Xb3Jrc3BhY2VEb3duIjp7fX19LHsiYmluZGluZyI6eyJr
	ZXlDb2RlIjo0Mjk0OTY3Mjk1LCJtb2RpZmllcnMiOjB9LCJpZCI6Im1vdmVDb2x1bW5U
	b1dvcmtzcGFjZS4wIiwiY29tbWFuZCI6eyJtb3ZlQ29sdW1uVG9Xb3Jrc3BhY2UiOnsi
	XzAiOjB9fX0seyJiaW5kaW5nIjp7ImtleUNvZGUiOjQyOTQ5NjcyOTUsIm1vZGlmaWVy
	cyI6MH0sImlkIjoibW92ZUNvbHVtblRvV29ya3NwYWNlLjEiLCJjb21tYW5kIjp7Im1v
	dmVDb2x1bW5Ub1dvcmtzcGFjZSI6eyJfMCI6MX19fSx7ImJpbmRpbmciOnsia2V5Q29k
	ZSI6NDI5NDk2NzI5NSwibW9kaWZpZXJzIjowfSwiaWQiOiJtb3ZlQ29sdW1uVG9Xb3Jr
	c3BhY2UuMiIsImNvbW1hbmQiOnsibW92ZUNvbHVtblRvV29ya3NwYWNlIjp7Il8wIjoy
	fX19LHsiYmluZGluZyI6eyJtb2RpZmllcnMiOjAsImtleUNvZGUiOjQyOTQ5NjcyOTV9
	LCJpZCI6Im1vdmVDb2x1bW5Ub1dvcmtzcGFjZS4zIiwiY29tbWFuZCI6eyJtb3ZlQ29s
	dW1uVG9Xb3Jrc3BhY2UiOnsiXzAiOjN9fX0seyJiaW5kaW5nIjp7ImtleUNvZGUiOjQy
	OTQ5NjcyOTUsIm1vZGlmaWVycyI6MH0sImlkIjoibW92ZUNvbHVtblRvV29ya3NwYWNl
	LjQiLCJjb21tYW5kIjp7Im1vdmVDb2x1bW5Ub1dvcmtzcGFjZSI6eyJfMCI6NH19fSx7
	ImJpbmRpbmciOnsia2V5Q29kZSI6NDI5NDk2NzI5NSwibW9kaWZpZXJzIjowfSwiaWQi
	OiJtb3ZlQ29sdW1uVG9Xb3Jrc3BhY2UuNSIsImNvbW1hbmQiOnsibW92ZUNvbHVtblRv
	V29ya3NwYWNlIjp7Il8wIjo1fX19LHsiYmluZGluZyI6eyJrZXlDb2RlIjo0Mjk0OTY3
	Mjk1LCJtb2RpZmllcnMiOjB9LCJpZCI6Im1vdmVDb2x1bW5Ub1dvcmtzcGFjZS42Iiwi
	Y29tbWFuZCI6eyJtb3ZlQ29sdW1uVG9Xb3Jrc3BhY2UiOnsiXzAiOjZ9fX0seyJjb21t
	YW5kIjp7Im1vdmVDb2x1bW5Ub1dvcmtzcGFjZSI6eyJfMCI6N319LCJpZCI6Im1vdmVD
	b2x1bW5Ub1dvcmtzcGFjZS43IiwiYmluZGluZyI6eyJtb2RpZmllcnMiOjAsImtleUNv
	ZGUiOjQyOTQ5NjcyOTV9fSx7ImNvbW1hbmQiOnsibW92ZUNvbHVtblRvV29ya3NwYWNl
	Ijp7Il8wIjo4fX0sImlkIjoibW92ZUNvbHVtblRvV29ya3NwYWNlLjgiLCJiaW5kaW5n
	Ijp7ImtleUNvZGUiOjQyOTQ5NjcyOTUsIm1vZGlmaWVycyI6MH19LHsiY29tbWFuZCI6
	eyJtb3ZlIjp7Il8wIjoibGVmdCJ9fSwiaWQiOiJtb3ZlLmxlZnQiLCJiaW5kaW5nIjp7
	Im1vZGlmaWVycyI6MjU2MCwia2V5Q29kZSI6MTIzfX0seyJjb21tYW5kIjp7Im1vdmUi
	OnsiXzAiOiJkb3duIn19LCJpZCI6Im1vdmUuZG93biIsImJpbmRpbmciOnsibW9kaWZp
	ZXJzIjoyNTYwLCJrZXlDb2RlIjoxMjV9fSx7ImNvbW1hbmQiOnsibW92ZSI6eyJfMCI6
	InVwIn19LCJpZCI6Im1vdmUudXAiLCJiaW5kaW5nIjp7Im1vZGlmaWVycyI6MjU2MCwi
	a2V5Q29kZSI6MTI2fX0seyJjb21tYW5kIjp7Im1vdmUiOnsiXzAiOiJyaWdodCJ9fSwi
	aWQiOiJtb3ZlLnJpZ2h0IiwiYmluZGluZyI6eyJtb2RpZmllcnMiOjI1NjAsImtleUNv
	ZGUiOjEyNH19LHsiY29tbWFuZCI6eyJzd2FwIjp7Il8wIjoibGVmdCJ9fSwiaWQiOiJz
	d2FwLmxlZnQiLCJiaW5kaW5nIjp7Im1vZGlmaWVycyI6NjE0NCwia2V5Q29kZSI6NH19
	LHsiY29tbWFuZCI6eyJzd2FwIjp7Il8wIjoicmlnaHQifX0sImlkIjoic3dhcC5yaWdo
	dCIsImJpbmRpbmciOnsia2V5Q29kZSI6MzcsIm1vZGlmaWVycyI6NjE0NH19LHsiY29t
	bWFuZCI6eyJzd2FwIjp7Il8wIjoidXAifX0sImlkIjoic3dhcC51cCIsImJpbmRpbmci
	Onsia2V5Q29kZSI6NDI5NDk2NzI5NSwibW9kaWZpZXJzIjowfX0seyJjb21tYW5kIjp7
	InN3YXAiOnsiXzAiOiJkb3duIn19LCJpZCI6InN3YXAuZG93biIsImJpbmRpbmciOnsi
	bW9kaWZpZXJzIjowLCJrZXlDb2RlIjo0Mjk0OTY3Mjk1fX0seyJjb21tYW5kIjp7Im1v
	dmVUb01vbml0b3IiOnsiXzAiOiJsZWZ0In19LCJpZCI6Im1vdmVUb01vbml0b3IubGVm
	dCIsImJpbmRpbmciOnsibW9kaWZpZXJzIjo2MTQ0LCJrZXlDb2RlIjoxMjN9fSx7ImNv
	bW1hbmQiOnsibW92ZVRvTW9uaXRvciI6eyJfMCI6ImRvd24ifX0sImlkIjoibW92ZVRv
	TW9uaXRvci5kb3duIiwiYmluZGluZyI6eyJtb2RpZmllcnMiOjYxNDQsImtleUNvZGUi
	OjEyNX19LHsiY29tbWFuZCI6eyJtb3ZlVG9Nb25pdG9yIjp7Il8wIjoidXAifX0sImlk
	IjoibW92ZVRvTW9uaXRvci51cCIsImJpbmRpbmciOnsibW9kaWZpZXJzIjo2MTQ0LCJr
	ZXlDb2RlIjoxMjZ9fSx7ImNvbW1hbmQiOnsibW92ZVRvTW9uaXRvciI6eyJfMCI6InJp
	Z2h0In19LCJpZCI6Im1vdmVUb01vbml0b3IucmlnaHQiLCJiaW5kaW5nIjp7Im1vZGlm
	aWVycyI6NjE0NCwia2V5Q29kZSI6MTI0fX0seyJjb21tYW5kIjp7ImZvY3VzTW9uaXRv
	ciI6eyJfMCI6ImxlZnQifX0sImlkIjoiZm9jdXNNb25pdG9yLmxlZnQiLCJiaW5kaW5n
	Ijp7Im1vZGlmaWVycyI6NDM1Miwia2V5Q29kZSI6MTIzfX0seyJjb21tYW5kIjp7ImZv
	Y3VzTW9uaXRvciI6eyJfMCI6InJpZ2h0In19LCJpZCI6ImZvY3VzTW9uaXRvci5yaWdo
	dCIsImJpbmRpbmciOnsia2V5Q29kZSI6MTI0LCJtb2RpZmllcnMiOjQzNTJ9fSx7ImNv
	bW1hbmQiOnsiZm9jdXNNb25pdG9yIjp7Il8wIjoidXAifX0sImlkIjoiZm9jdXNNb25p
	dG9yLnVwIiwiYmluZGluZyI6eyJtb2RpZmllcnMiOjQzNTIsImtleUNvZGUiOjEyNn19
	LHsiY29tbWFuZCI6eyJmb2N1c01vbml0b3IiOnsiXzAiOiJkb3duIn19LCJpZCI6ImZv
	Y3VzTW9uaXRvci5kb3duIiwiYmluZGluZyI6eyJrZXlDb2RlIjoxMjUsIm1vZGlmaWVy
	cyI6NDM1Mn19LHsiY29tbWFuZCI6eyJmb2N1c01vbml0b3JOZXh0Ijp7fX0sImlkIjoi
	Zm9jdXNNb25pdG9yTmV4dCIsImJpbmRpbmciOnsibW9kaWZpZXJzIjo0MzUyLCJrZXlD
	b2RlIjo0OH19LHsiY29tbWFuZCI6eyJmb2N1c01vbml0b3JQcmV2aW91cyI6e319LCJp
	ZCI6ImZvY3VzTW9uaXRvclByZXZpb3VzIiwiYmluZGluZyI6eyJtb2RpZmllcnMiOjAs
	ImtleUNvZGUiOjQyOTQ5NjcyOTV9fSx7ImNvbW1hbmQiOnsiZm9jdXNNb25pdG9yTGFz
	dCI6e319LCJpZCI6ImZvY3VzTW9uaXRvckxhc3QiLCJiaW5kaW5nIjp7Im1vZGlmaWVy
	cyI6NDM1Miwia2V5Q29kZSI6NTB9fSx7ImNvbW1hbmQiOnsibW92ZUNvbHVtblRvTW9u
	aXRvciI6eyJfMCI6ImxlZnQifX0sImlkIjoibW92ZUNvbHVtblRvTW9uaXRvci5sZWZ0
	IiwiYmluZGluZyI6eyJrZXlDb2RlIjoxMjMsIm1vZGlmaWVycyI6NDg2NH19LHsiY29t
	bWFuZCI6eyJtb3ZlQ29sdW1uVG9Nb25pdG9yIjp7Il8wIjoicmlnaHQifX0sImlkIjoi
	bW92ZUNvbHVtblRvTW9uaXRvci5yaWdodCIsImJpbmRpbmciOnsia2V5Q29kZSI6MTI0
	LCJtb2RpZmllcnMiOjQ4NjR9fSx7ImNvbW1hbmQiOnsibW92ZUNvbHVtblRvTW9uaXRv
	ciI6eyJfMCI6InVwIn19LCJpZCI6Im1vdmVDb2x1bW5Ub01vbml0b3IudXAiLCJiaW5k
	aW5nIjp7Im1vZGlmaWVycyI6NDg2NCwia2V5Q29kZSI6MTI2fX0seyJjb21tYW5kIjp7
	Im1vdmVDb2x1bW5Ub01vbml0b3IiOnsiXzAiOiJkb3duIn19LCJpZCI6Im1vdmVDb2x1
	bW5Ub01vbml0b3IuZG93biIsImJpbmRpbmciOnsia2V5Q29kZSI6MTI1LCJtb2RpZmll
	cnMiOjQ4NjR9fSx7ImNvbW1hbmQiOnsibW92ZVdvcmtzcGFjZVRvTW9uaXRvciI6eyJf
	MCI6ImxlZnQifX0sImlkIjoibW92ZVdvcmtzcGFjZVRvTW9uaXRvci5sZWZ0IiwiYmlu
	ZGluZyI6eyJtb2RpZmllcnMiOjAsImtleUNvZGUiOjQyOTQ5NjcyOTV9fSx7ImNvbW1h
	bmQiOnsibW92ZVdvcmtzcGFjZVRvTW9uaXRvciI6eyJfMCI6InJpZ2h0In19LCJpZCI6
	Im1vdmVXb3Jrc3BhY2VUb01vbml0b3IucmlnaHQiLCJiaW5kaW5nIjp7Im1vZGlmaWVy
	cyI6MCwia2V5Q29kZSI6NDI5NDk2NzI5NX19LHsiY29tbWFuZCI6eyJtb3ZlV29ya3Nw
	YWNlVG9Nb25pdG9yIjp7Il8wIjoidXAifX0sImlkIjoibW92ZVdvcmtzcGFjZVRvTW9u
	aXRvci51cCIsImJpbmRpbmciOnsibW9kaWZpZXJzIjowLCJrZXlDb2RlIjo0Mjk0OTY3
	Mjk1fX0seyJjb21tYW5kIjp7Im1vdmVXb3Jrc3BhY2VUb01vbml0b3IiOnsiXzAiOiJk
	b3duIn19LCJpZCI6Im1vdmVXb3Jrc3BhY2VUb01vbml0b3IuZG93biIsImJpbmRpbmci
	OnsibW9kaWZpZXJzIjowLCJrZXlDb2RlIjo0Mjk0OTY3Mjk1fX0seyJjb21tYW5kIjp7
	Im1vdmVXb3Jrc3BhY2VUb01vbml0b3JOZXh0Ijp7fX0sImlkIjoibW92ZVdvcmtzcGFj
	ZVRvTW9uaXRvci5uZXh0IiwiYmluZGluZyI6eyJrZXlDb2RlIjo0Mjk0OTY3Mjk1LCJt
	b2RpZmllcnMiOjB9fSx7ImNvbW1hbmQiOnsibW92ZVdvcmtzcGFjZVRvTW9uaXRvclBy
	ZXZpb3VzIjp7fX0sImlkIjoibW92ZVdvcmtzcGFjZVRvTW9uaXRvci5wcmV2aW91cyIs
	ImJpbmRpbmciOnsibW9kaWZpZXJzIjowLCJrZXlDb2RlIjo0Mjk0OTY3Mjk1fX0seyJj
	b21tYW5kIjp7InRvZ2dsZUZ1bGxzY3JlZW4iOnt9fSwiaWQiOiJ0b2dnbGVGdWxsc2Ny
	ZWVuIiwiYmluZGluZyI6eyJrZXlDb2RlIjozNiwibW9kaWZpZXJzIjoyMDQ4fX0seyJj
	b21tYW5kIjp7InRvZ2dsZU5hdGl2ZUZ1bGxzY3JlZW4iOnt9fSwiaWQiOiJ0b2dnbGVO
	YXRpdmVGdWxsc2NyZWVuIiwiYmluZGluZyI6eyJtb2RpZmllcnMiOjAsImtleUNvZGUi
	OjQyOTQ5NjcyOTV9fSx7ImNvbW1hbmQiOnsibW92ZUNvbHVtbiI6eyJfMCI6ImxlZnQi
	fX0sImlkIjoibW92ZUNvbHVtbi5sZWZ0IiwiYmluZGluZyI6eyJrZXlDb2RlIjo0LCJt
	b2RpZmllcnMiOjI1NjB9fSx7ImNvbW1hbmQiOnsibW92ZUNvbHVtbiI6eyJfMCI6InJp
	Z2h0In19LCJpZCI6Im1vdmVDb2x1bW4ucmlnaHQiLCJiaW5kaW5nIjp7Im1vZGlmaWVy
	cyI6NjY1Niwia2V5Q29kZSI6MTI0fX0seyJjb21tYW5kIjp7ImNvbnN1bWVXaW5kb3ci
	OnsiXzAiOiJsZWZ0In19LCJpZCI6ImNvbnN1bWVXaW5kb3cubGVmdCIsImJpbmRpbmci
	OnsibW9kaWZpZXJzIjo2MTQ0LCJrZXlDb2RlIjozM319LHsiY29tbWFuZCI6eyJjb25z
	dW1lV2luZG93Ijp7Il8wIjoicmlnaHQifX0sImlkIjoiY29uc3VtZVdpbmRvdy5yaWdo
	dCIsImJpbmRpbmciOnsia2V5Q29kZSI6MzAsIm1vZGlmaWVycyI6NjE0NH19LHsiY29t
	bWFuZCI6eyJleHBlbFdpbmRvdyI6eyJfMCI6ImxlZnQifX0sImlkIjoiZXhwZWxXaW5k
	b3cubGVmdCIsImJpbmRpbmciOnsibW9kaWZpZXJzIjo2NjU2LCJrZXlDb2RlIjozM319
	LHsiY29tbWFuZCI6eyJleHBlbFdpbmRvdyI6eyJfMCI6InJpZ2h0In19LCJpZCI6ImV4
	cGVsV2luZG93LnJpZ2h0IiwiYmluZGluZyI6eyJrZXlDb2RlIjozMCwibW9kaWZpZXJz
	Ijo2NjU2fX0seyJjb21tYW5kIjp7InRvZ2dsZUNvbHVtblRhYmJlZCI6e319LCJpZCI6
	InRvZ2dsZUNvbHVtblRhYmJlZCIsImJpbmRpbmciOnsibW9kaWZpZXJzIjoyMDQ4LCJr
	ZXlDb2RlIjoxN319LHsiY29tbWFuZCI6eyJmb2N1c0NvbHVtbkZpcnN0Ijp7fX0sImlk
	IjoiZm9jdXNDb2x1bW5GaXJzdCIsImJpbmRpbmciOnsia2V5Q29kZSI6MTE1LCJtb2Rp
	ZmllcnMiOjIwNDh9fSx7ImNvbW1hbmQiOnsiZm9jdXNDb2x1bW5MYXN0Ijp7fX0sImlk
	IjoiZm9jdXNDb2x1bW5MYXN0IiwiYmluZGluZyI6eyJtb2RpZmllcnMiOjIwNDgsImtl
	eUNvZGUiOjExOX19LHsiY29tbWFuZCI6eyJmb2N1c1dpbmRvd1RvcCI6e319LCJpZCI6
	ImZvY3VzV2luZG93VG9wIiwiYmluZGluZyI6eyJtb2RpZmllcnMiOjI1NjAsImtleUNv
	ZGUiOjExNX19LHsiY29tbWFuZCI6eyJmb2N1c1dpbmRvd0JvdHRvbSI6e319LCJpZCI6
	ImZvY3VzV2luZG93Qm90dG9tIiwiYmluZGluZyI6eyJrZXlDb2RlIjoxMTksIm1vZGlm
	aWVycyI6MjU2MH19LHsiY29tbWFuZCI6eyJmb2N1c0NvbHVtbiI6eyJfMCI6MH19LCJp
	ZCI6ImZvY3VzQ29sdW1uLjAiLCJiaW5kaW5nIjp7Im1vZGlmaWVycyI6NjE0NCwia2V5
	Q29kZSI6MTh9fSx7ImNvbW1hbmQiOnsiZm9jdXNDb2x1bW4iOnsiXzAiOjF9fSwiaWQi
	OiJmb2N1c0NvbHVtbi4xIiwiYmluZGluZyI6eyJrZXlDb2RlIjoxOSwibW9kaWZpZXJz
	Ijo2MTQ0fX0seyJjb21tYW5kIjp7ImZvY3VzQ29sdW1uIjp7Il8wIjoyfX0sImlkIjoi
	Zm9jdXNDb2x1bW4uMiIsImJpbmRpbmciOnsibW9kaWZpZXJzIjo2MTQ0LCJrZXlDb2Rl
	IjoyMH19LHsiY29tbWFuZCI6eyJmb2N1c0NvbHVtbiI6eyJfMCI6M319LCJpZCI6ImZv
	Y3VzQ29sdW1uLjMiLCJiaW5kaW5nIjp7Im1vZGlmaWVycyI6NjE0NCwia2V5Q29kZSI6
	MjF9fSx7ImNvbW1hbmQiOnsiZm9jdXNDb2x1bW4iOnsiXzAiOjR9fSwiaWQiOiJmb2N1
	c0NvbHVtbi40IiwiYmluZGluZyI6eyJrZXlDb2RlIjoyMywibW9kaWZpZXJzIjo2MTQ0
	fX0seyJjb21tYW5kIjp7ImZvY3VzQ29sdW1uIjp7Il8wIjo1fX0sImlkIjoiZm9jdXND
	b2x1bW4uNSIsImJpbmRpbmciOnsia2V5Q29kZSI6MjIsIm1vZGlmaWVycyI6NjE0NH19
	LHsiY29tbWFuZCI6eyJmb2N1c0NvbHVtbiI6eyJfMCI6Nn19LCJpZCI6ImZvY3VzQ29s
	dW1uLjYiLCJiaW5kaW5nIjp7ImtleUNvZGUiOjI2LCJtb2RpZmllcnMiOjYxNDR9fSx7
	ImNvbW1hbmQiOnsiZm9jdXNDb2x1bW4iOnsiXzAiOjd9fSwiaWQiOiJmb2N1c0NvbHVt
	bi43IiwiYmluZGluZyI6eyJrZXlDb2RlIjoyOCwibW9kaWZpZXJzIjo2MTQ0fX0seyJj
	b21tYW5kIjp7ImZvY3VzQ29sdW1uIjp7Il8wIjo4fX0sImlkIjoiZm9jdXNDb2x1bW4u
	OCIsImJpbmRpbmciOnsibW9kaWZpZXJzIjo2MTQ0LCJrZXlDb2RlIjoyNX19LHsiY29t
	bWFuZCI6eyJjeWNsZUNvbHVtbldpZHRoRm9yd2FyZCI6e319LCJpZCI6ImN5Y2xlQ29s
	dW1uV2lkdGhGb3J3YXJkIiwiYmluZGluZyI6eyJtb2RpZmllcnMiOjIwNDgsImtleUNv
	ZGUiOjQ3fX0seyJjb21tYW5kIjp7ImN5Y2xlQ29sdW1uV2lkdGhCYWNrd2FyZCI6e319
	LCJpZCI6ImN5Y2xlQ29sdW1uV2lkdGhCYWNrd2FyZCIsImJpbmRpbmciOnsibW9kaWZp
	ZXJzIjoyMDQ4LCJrZXlDb2RlIjo0M319LHsiY29tbWFuZCI6eyJ0b2dnbGVDb2x1bW5G
	dWxsV2lkdGgiOnt9fSwiaWQiOiJ0b2dnbGVDb2x1bW5GdWxsV2lkdGgiLCJiaW5kaW5n
	Ijp7Im1vZGlmaWVycyI6MjA0OCwia2V5Q29kZSI6M319LHsiY29tbWFuZCI6eyJiYWxh
	bmNlU2l6ZXMiOnt9fSwiaWQiOiJiYWxhbmNlU2l6ZXMiLCJiaW5kaW5nIjp7ImtleUNv
	ZGUiOjExLCJtb2RpZmllcnMiOjI1NjB9fSx7ImNvbW1hbmQiOnsibW92ZVRvUm9vdCI6
	e319LCJpZCI6Im1vdmVUb1Jvb3QiLCJiaW5kaW5nIjp7ImtleUNvZGUiOjQyOTQ5Njcy
	OTUsIm1vZGlmaWVycyI6MH19LHsiY29tbWFuZCI6eyJ0b2dnbGVTcGxpdCI6e319LCJp
	ZCI6InRvZ2dsZVNwbGl0IiwiYmluZGluZyI6eyJtb2RpZmllcnMiOjAsImtleUNvZGUi
	OjQyOTQ5NjcyOTV9fSx7ImNvbW1hbmQiOnsic3dhcFNwbGl0Ijp7fX0sImlkIjoic3dh
	cFNwbGl0IiwiYmluZGluZyI6eyJrZXlDb2RlIjo0Mjk0OTY3Mjk1LCJtb2RpZmllcnMi
	OjB9fSx7ImNvbW1hbmQiOnsicmVzaXplSW5EaXJlY3Rpb24iOnsiXzAiOiJsZWZ0Iiwi
	XzEiOnRydWV9fSwiaWQiOiJyZXNpemVHcm93LmxlZnQiLCJiaW5kaW5nIjp7ImtleUNv
	ZGUiOjQyOTQ5NjcyOTUsIm1vZGlmaWVycyI6MH19LHsiY29tbWFuZCI6eyJyZXNpemVJ
	bkRpcmVjdGlvbiI6eyJfMSI6dHJ1ZSwiXzAiOiJyaWdodCJ9fSwiaWQiOiJyZXNpemVH
	cm93LnJpZ2h0IiwiYmluZGluZyI6eyJtb2RpZmllcnMiOjAsImtleUNvZGUiOjQyOTQ5
	NjcyOTV9fSx7ImNvbW1hbmQiOnsicmVzaXplSW5EaXJlY3Rpb24iOnsiXzAiOiJ1cCIs
	Il8xIjp0cnVlfX0sImlkIjoicmVzaXplR3Jvdy51cCIsImJpbmRpbmciOnsia2V5Q29k
	ZSI6NDI5NDk2NzI5NSwibW9kaWZpZXJzIjowfX0seyJjb21tYW5kIjp7InJlc2l6ZUlu
	RGlyZWN0aW9uIjp7Il8xIjp0cnVlLCJfMCI6ImRvd24ifX0sImlkIjoicmVzaXplR3Jv
	dy5kb3duIiwiYmluZGluZyI6eyJtb2RpZmllcnMiOjAsImtleUNvZGUiOjQyOTQ5Njcy
	OTV9fSx7ImNvbW1hbmQiOnsicmVzaXplSW5EaXJlY3Rpb24iOnsiXzAiOiJsZWZ0Iiwi
	XzEiOmZhbHNlfX0sImlkIjoicmVzaXplU2hyaW5rLmxlZnQiLCJiaW5kaW5nIjp7Imtl
	eUNvZGUiOjQyOTQ5NjcyOTUsIm1vZGlmaWVycyI6MH19LHsiY29tbWFuZCI6eyJyZXNp
	emVJbkRpcmVjdGlvbiI6eyJfMSI6ZmFsc2UsIl8wIjoicmlnaHQifX0sImlkIjoicmVz
	aXplU2hyaW5rLnJpZ2h0IiwiYmluZGluZyI6eyJtb2RpZmllcnMiOjAsImtleUNvZGUi
	OjQyOTQ5NjcyOTV9fSx7ImNvbW1hbmQiOnsicmVzaXplSW5EaXJlY3Rpb24iOnsiXzEi
	OmZhbHNlLCJfMCI6InVwIn19LCJpZCI6InJlc2l6ZVNocmluay51cCIsImJpbmRpbmci
	Onsia2V5Q29kZSI6NDI5NDk2NzI5NSwibW9kaWZpZXJzIjowfX0seyJjb21tYW5kIjp7
	InJlc2l6ZUluRGlyZWN0aW9uIjp7Il8xIjpmYWxzZSwiXzAiOiJkb3duIn19LCJpZCI6
	InJlc2l6ZVNocmluay5kb3duIiwiYmluZGluZyI6eyJtb2RpZmllcnMiOjAsImtleUNv
	ZGUiOjQyOTQ5NjcyOTV9fSx7ImNvbW1hbmQiOnsicHJlc2VsZWN0Ijp7Il8wIjoibGVm
	dCJ9fSwiaWQiOiJwcmVzZWxlY3QubGVmdCIsImJpbmRpbmciOnsibW9kaWZpZXJzIjow
	LCJrZXlDb2RlIjo0Mjk0OTY3Mjk1fX0seyJjb21tYW5kIjp7InByZXNlbGVjdCI6eyJf
	MCI6InJpZ2h0In19LCJpZCI6InByZXNlbGVjdC5yaWdodCIsImJpbmRpbmciOnsibW9k
	aWZpZXJzIjowLCJrZXlDb2RlIjo0Mjk0OTY3Mjk1fX0seyJjb21tYW5kIjp7InByZXNl
	bGVjdCI6eyJfMCI6InVwIn19LCJpZCI6InByZXNlbGVjdC51cCIsImJpbmRpbmciOnsi
	a2V5Q29kZSI6NDI5NDk2NzI5NSwibW9kaWZpZXJzIjowfX0seyJjb21tYW5kIjp7InBy
	ZXNlbGVjdCI6eyJfMCI6ImRvd24ifX0sImlkIjoicHJlc2VsZWN0LmRvd24iLCJiaW5k
	aW5nIjp7ImtleUNvZGUiOjQyOTQ5NjcyOTUsIm1vZGlmaWVycyI6MH19LHsiY29tbWFu
	ZCI6eyJwcmVzZWxlY3RDbGVhciI6e319LCJpZCI6InByZXNlbGVjdENsZWFyIiwiYmlu
	ZGluZyI6eyJrZXlDb2RlIjo0Mjk0OTY3Mjk1LCJtb2RpZmllcnMiOjB9fSx7ImNvbW1h
	bmQiOnsic3VtbW9uV29ya3NwYWNlIjp7Il8wIjowfX0sImlkIjoic3VtbW9uV29ya3Nw
	YWNlLjAiLCJiaW5kaW5nIjp7Im1vZGlmaWVycyI6NDYwOCwia2V5Q29kZSI6MTh9fSx7
	ImNvbW1hbmQiOnsic3VtbW9uV29ya3NwYWNlIjp7Il8wIjoxfX0sImlkIjoic3VtbW9u
	V29ya3NwYWNlLjEiLCJiaW5kaW5nIjp7ImtleUNvZGUiOjE5LCJtb2RpZmllcnMiOjQ2
	MDh9fSx7ImNvbW1hbmQiOnsic3VtbW9uV29ya3NwYWNlIjp7Il8wIjoyfX0sImlkIjoi
	c3VtbW9uV29ya3NwYWNlLjIiLCJiaW5kaW5nIjp7ImtleUNvZGUiOjIwLCJtb2RpZmll
	cnMiOjQ2MDh9fSx7ImNvbW1hbmQiOnsic3VtbW9uV29ya3NwYWNlIjp7Il8wIjozfX0s
	ImlkIjoic3VtbW9uV29ya3NwYWNlLjMiLCJiaW5kaW5nIjp7ImtleUNvZGUiOjIxLCJt
	b2RpZmllcnMiOjQ2MDh9fSx7ImNvbW1hbmQiOnsic3VtbW9uV29ya3NwYWNlIjp7Il8w
	Ijo0fX0sImlkIjoic3VtbW9uV29ya3NwYWNlLjQiLCJiaW5kaW5nIjp7ImtleUNvZGUi
	OjIzLCJtb2RpZmllcnMiOjQ2MDh9fSx7ImNvbW1hbmQiOnsic3VtbW9uV29ya3NwYWNl
	Ijp7Il8wIjo1fX0sImlkIjoic3VtbW9uV29ya3NwYWNlLjUiLCJiaW5kaW5nIjp7Imtl
	eUNvZGUiOjIyLCJtb2RpZmllcnMiOjQ2MDh9fSx7ImNvbW1hbmQiOnsic3VtbW9uV29y
	a3NwYWNlIjp7Il8wIjo2fX0sImlkIjoic3VtbW9uV29ya3NwYWNlLjYiLCJiaW5kaW5n
	Ijp7Im1vZGlmaWVycyI6NDYwOCwia2V5Q29kZSI6MjZ9fSx7ImNvbW1hbmQiOnsic3Vt
	bW9uV29ya3NwYWNlIjp7Il8wIjo3fX0sImlkIjoic3VtbW9uV29ya3NwYWNlLjciLCJi
	aW5kaW5nIjp7Im1vZGlmaWVycyI6NDYwOCwia2V5Q29kZSI6Mjh9fSx7ImNvbW1hbmQi
	Onsic3VtbW9uV29ya3NwYWNlIjp7Il8wIjo4fX0sImlkIjoic3VtbW9uV29ya3NwYWNl
	LjgiLCJiaW5kaW5nIjp7Im1vZGlmaWVycyI6NDYwOCwia2V5Q29kZSI6MjV9fSx7ImNv
	bW1hbmQiOnsib3BlbldpbmRvd0ZpbmRlciI6e319LCJpZCI6Im9wZW5XaW5kb3dGaW5k
	ZXIiLCJiaW5kaW5nIjp7ImtleUNvZGUiOjQ5LCJtb2RpZmllcnMiOjYxNDR9fSx7ImNv
	bW1hbmQiOnsicmFpc2VBbGxGbG9hdGluZ1dpbmRvd3MiOnt9fSwiaWQiOiJyYWlzZUFs
	bEZsb2F0aW5nV2luZG93cyIsImJpbmRpbmciOnsibW9kaWZpZXJzIjoyNTYwLCJrZXlD
	b2RlIjoxNX19LHsiY29tbWFuZCI6eyJvcGVuTWVudUFueXdoZXJlIjp7fX0sImlkIjoi
	b3Blbk1lbnVBbnl3aGVyZSIsImJpbmRpbmciOnsia2V5Q29kZSI6NDYsIm1vZGlmaWVy
	cyI6NjE0NH19LHsiY29tbWFuZCI6eyJvcGVuTWVudVBhbGV0dGUiOnt9fSwiaWQiOiJv
	cGVuTWVudVBhbGV0dGUiLCJiaW5kaW5nIjp7Im1vZGlmaWVycyI6NjY1Niwia2V5Q29k
	ZSI6NDZ9fSx7ImNvbW1hbmQiOnsidG9nZ2xlSGlkZGVuQmFyIjp7fX0sImlkIjoidG9n
	Z2xlSGlkZGVuQmFyIiwiYmluZGluZyI6eyJrZXlDb2RlIjo0Mjk0OTY3Mjk1LCJtb2Rp
	ZmllcnMiOjB9fSx7ImNvbW1hbmQiOnsidG9nZ2xlUXVha2VUZXJtaW5hbCI6e319LCJp
	ZCI6InRvZ2dsZVF1YWtlVGVybWluYWwiLCJiaW5kaW5nIjp7ImtleUNvZGUiOjUwLCJt
	b2RpZmllcnMiOjIwNDh9fSx7ImNvbW1hbmQiOnsidG9nZ2xlV29ya3NwYWNlTGF5b3V0
	Ijp7fX0sImlkIjoidG9nZ2xlV29ya3NwYWNlTGF5b3V0IiwiYmluZGluZyI6eyJtb2Rp
	ZmllcnMiOjI1NjAsImtleUNvZGUiOjM3fX0seyJjb21tYW5kIjp7InRvZ2dsZU92ZXJ2
	aWV3Ijp7fX0sImlkIjoidG9nZ2xlT3ZlcnZpZXciLCJiaW5kaW5nIjp7ImtleUNvZGUi
	OjMxLCJtb2RpZmllcnMiOjI1NjB9fV0=
	</data>
	<key>settings.workspaceBar.enabled</key>
	<true/>
	<key>settings.workspaceBar.position</key>
	<string>belowMenuBar</string>
	<key>settings.workspaceBar.windowLevel</key>
	<string>popup</string>
	<key>settings.workspaceConfigurations</key>
	<data>
	W3siaXNQZXJzaXN0ZW50IjpmYWxzZSwibGF5b3V0VHlwZSI6Im5pcmkiLCJpZCI6IkY1
	QkEwQTk1LTNFOTQtNDk1MS1BMzdELTc5OUM4MUY2NEE2NSIsIm5hbWUiOiIxIiwibW9u
	aXRvckFzc2lnbm1lbnQiOnsidHlwZSI6ImFueSJ9fSx7ImlzUGVyc2lzdGVudCI6dHJ1
	ZSwibGF5b3V0VHlwZSI6Im5pcmkiLCJpZCI6IjAwOTBDNDE5LTVBNjItNDRCMC1CMTRF
	LTBERkIzMzc2QTQxNiIsIm5hbWUiOiJtYWluIiwibW9uaXRvckFzc2lnbm1lbnQiOnsi
	dHlwZSI6ImFueSJ9fV0=
	</data>
	<key>settings.workspaceSettingsMigrated</key>
	<true/>
</dict>
</plist>
