# "$schema" = "https://jj-vcs.github.io/jj/prerelease/config-schema.json"

[user]
name = "Drew Harris"
email = "drew@drewh.net"



[merge-tools.zed]
program = "zed"
diff-args = [
  "--wait",
  # "--new",
  # "--reuse",
  # "--add",
  "--diff",
  "$left",
  "$right",
]
edit-args = [
  "--wait",
  # "--new",
  "--diff",
  "$left",
  "$right",
]


[merge-tools.zededit]
program = "zed"
diff-args = [
  "--wait",
  "--new",
  # "--reuse",
  # "--add",
  "--diff",
  "$left",
  "$right",
]
edit-args = [
  "--wait",
  "--new",
  "--diff",
  "$left",
  "$right",
]


[merge-tools.gitpatch]
program = "sh"
edit-args = [
  "-c",
  '''
  set -eu
  rm -f "$right/JJ-INSTRUCTIONS"
  git -C "$left" init -q
  git -C "$left" add -A
  git -C "$left" commit -q -m baseline --allow-empty
  mv "$left/.git" "$right"
  git -C "$right" add --intent-to-add --ignore-removal .
  git -C "$right" add -p
  git -C "$right" diff-index --quiet --cached HEAD && { echo "No changes done, aborting split."; exit 1; }
  git -C "$right" commit -q -m split
  git -C "$right" reset -q --hard
''',
]


[ui]
default-command = ["log", "-T", "builtin_log_comfortable"]
pager = ["delta", "--pager", "less -FRX"]
editor = ["zed", "-w"]
conflict-marker-style = "git"
diff-formatter = [
  "delta",
  "$left",
  "$right",
  "--file-transformation",
  "s|.*/jj-diff-[^/]*/[^/]*/||",
]
graph.style = "square"

[template-aliases]
'format_short_signature(signature)' = "signature.name()"
'format_timestamp(timestamp)' = "timestamp.ago()"
log_with_files = '''
if(root,
  format_root_commit(self),
  label(if(current_working_copy, "working_copy"),
    concat(
      format_short_commit_header(self) ++ "\n",
      separate(" ",
        if(empty, label("empty", "(empty)")),
        if(description,
          description.first_line(),
          label(if(empty, "empty"), description_placeholder),
        ),
      ) ++ "\n",
      if(self.contained_in("recent_work"), diff.summary()),
    ),
  )
)
'''

[aliases]
d = ["desc", "-m"]
n = ["new"]
reheat = ["rebase", "-d", "trunk()", "-s", "all:roots(trunk()..stack(@))"]
stack = ["rebase", "-A", "trunk()", "-B", "closest_merge(@)", "-r"]
l = ["log", "-r", "work"]
open = ["log", "-r", "open()"]
ll = ["log", "-T", "log_with_files"]
# View A Pr
pr = ["util", "exec", "--", "bash", "-c", """
gh pr view --web $(jj bookmark list -r '@-' -T 'name' | cut -d ' ' -f 1)
"""]

# [revsets]
# log = "default-with-hidden"

[revset-aliases]
'closest_bookmark(to)' = 'heads(::to & bookmarks())'

'trunc' = '(present(@) | ancestors(heads(mine() & immutable_heads()..) | @, 3) | (descendants(trunk(), 3) & ::(heads(mine() & immutable_heads()..) | @)) | present(trunk())) & ~(description("hidden:")::)'

'default-with-hidden' = '(present(@) | ancestors(immutable_heads()..,2) | present(trunk())) & ~(description("hidden:")::)'
'super-default' = '(present(@) | ancestors(immutable_heads()..,2) | present(trunk()))'
'hidden' = '(present(@) | ancestors(immutable_heads()..,2) | present(trunk())) & (description("hidden:")::)'
'trunks' = "main"  # big list of branch names
'local(x)' = "reachable(x, ~::trunks)"
simple = "ancestors(local(@), 2)"
here = "ancestors(reachable(@, trunk()..), 2) | trunk()"
"active(rev)" = "(ancestors(rev) | descendants(rev)) ~ immutable()"
'recent_work' = "ancestors(visible_heads(), 3) & mutable()"
work = "active(@) | active(prev)"
'at' = "@"
'user(x)' = "author(x) | committer(x)"
'mine()' = 'user("drew@drewh.net")'
# By default, show the repo trunk, the remote bookmarks, and all remote tags. We
# don't want to change these in most cases, but in some repos it's useful.
'immutable_heads()' = "present(trunk()) | untracked_remote_bookmarks() | tags()"
# Useful to ignore this, in many repos. For repos like `jj` these are
# consistently populated with a bunch of auto-generated commits, so ignoring it
# is often nice.
'gh_pages()' = 'ancestors(remote_bookmarks(exact:"gh-pages"))'
# Private and WIP commits that should never be pushed anywhere. Often part of
# work-in-progress merge stacks.
'wip()' = 'description(glob-i:"wip:*") | description(glob-i:"[[]WIP[]]*")'
'private()' = 'description(glob-i:"private:*") | description(glob-i:"[[]PRIVATE[]]*")'
'blacklist()' = "wip() | private()"

[templates]
draft_commit_description = '''
  concat(
    coalesce(description, default_commit_description, "\n"),
    surround(
      "\nJJ: This commit contains the following changes:\n", "",
      indent("JJ:     ", diff.stat(72)),
    ),
    "\nJJ: ignore-rest\n",
    diff.git(),
  )
'''
log_node = '''
label("node",
  coalesce(
    if(!self, label("elided", "⇋")),
    if(current_working_copy, label("working_copy", "◉")),
    if(conflict, label("conflict", "✕")),
    if(immutable, label("immutable", "◆")),
    if(description.starts_with("wip: "), label("wip", "󱍼")),
    if(!mine, label("others", "○")),
    label("normal", "○")
  )
)
'''

[colors]
# Base customizations
"normal change_id" = { bold = true, fg = "magenta" }
"immutable change_id" = { bold = false, fg = "bright cyan" }
# Used by log node template
"node" = { bold = true }
"node elided" = { fg = "bright black" }
"node working_copy" = { fg = "green" }
"node conflict" = { fg = "red" }
"node immutable" = { fg = "bright cyan" }
"node others" = { fg = "#ffa07a" }
"node wip" = { fg = "yellow" }
"node normal" = { bold = false }
