@define-color bar_bg rgba(15, 17, 24, 0.58);
@define-color border rgba(198, 208, 245, 0.11);
@define-color text #c6d0f5;
@define-color red #ea999c;
@define-color green #a6d189;
@define-color yellow #e5c890;
@define-color blue #8caaee;
@define-color cyan #99d1db;
@define-color purple #ca9ee6;

* {
  min-height: 0;
  border: none;
  border-radius: 0;
  font-family: "Berkeley Mono", "Symbols Nerd Font";
  font-size: 14px;
}

window#waybar {
  background: @bar_bg;
  color: @text;
}

tooltip {
  background: rgba(20, 22, 31, 0.97);
  border: 1px solid @border;
  border-radius: 8px;
}

tooltip label {
  color: @text;
  padding: 8px;
}

button {
  background: transparent;
  box-shadow: none;
}

#workspaces button {
  color: @red;
  margin: 5px 2px;
  padding: 0 9px;
}

#workspaces button.active {
  color: @cyan;
}

#workspaces button:hover {
  background: transparent;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power,
#custom-weather,
#custom-uptime,
#custom-keychron-battery,
#custom-airpods,
#custom-docker {
  margin: 5px 3px;
  padding: 0 11px;
}

#clock:hover,
#custom-music:hover,
#custom-weather:hover,
#custom-keychron-battery:hover,
#custom-airpods:hover,
#pulseaudio:hover {
  background: transparent;
}

#clock {
  color: @cyan;
  font-weight: 600;
}

#custom-music {
  color: @purple;
}

#custom-weather {
  color: @blue;
}

#custom-airpods {
  color: @yellow;
  font-size: 14px;
  padding: 0 10px;
}

#custom-airpods.connected {
  color: @green;
}

#custom-airpods.disconnected,
#custom-airpods.off {
  color: @red;
}

#custom-keychron-battery {
  color: @green;
}

#custom-keychron-battery.warning {
  color: @yellow;
}

#custom-keychron-battery.critical {
  color: @red;
}

#pulseaudio {
  color: @red;
  padding: 0 12px 0 10px;
}

#pulseaudio.muted {
  color: rgba(198, 208, 245, 0.55);
}

#battery,
#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight,
#custom-weather.clear {
  color: @yellow;
}

#custom-weather.cloud {
  color: @cyan;
}

#custom-weather.rain {
  color: @blue;
}

#custom-weather.snow {
  color: @text;
}

#custom-weather.thunder {
  color: @purple;
}

#custom-weather.fog {
  color: #b0b4bc;
}

#custom-weather.error,
#custom-docker.docker-error {
  color: @red;
}

#custom-docker,
#custom-docker.docker {
  color: #85c1dc;
}

#custom-docker.docker-none {
  color: #737994;
}

#custom-lock {
  color: #babbf1;
}

#custom-power {
  color: @red;
  margin-right: 6px;
}

#tray {
  margin-right: 6px;
  padding: 0 9px;
}

.niri-taskbar button {
  font-size: 4px;
}

.niri-taskbar button.focused {
  background: rgba(0, 0, 0, 0.3);
}
